header{
    display: flex;
    height: 7.2rem;
    width: 100%;
    background-color: #0d0d0d;
    align-items: center;
    justify-content: center;

    ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        list-style: none;

        li{
            margin-right: 1.667vw;

            a{
                display: inline-block;
                font-family: 'inter', 'sans-serif';
                text-decoration: none;
                color: rgb(255, 255, 255);
                transition: transform 0.3s ease;

                &:hover{
                    transform: scale(1.1);
                }
            }

            img {
                height: 2.5rem;
            }

        }

        
    }

}

// Pending: Mobile n Tablet //